@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
	--nav-button-top-bottom-padding: 6px;
	--nav-button-right-left-padding: 6px;
}

.font__source-code-pro {
	font-family: "Source Code Pro", monospace;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: black;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.nav__body {
	background-color: #222222;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	height: 24px;
}

.nav__inline-div {
	display: inline-block;
	background-color: #222222;
	color: white;
}

.nav__float-right {
	display: inline-block;
	float: right;
	padding-right: 16px;
}

.nav__float-left {
	display: inline-block;
	float: left;
	padding-left: 16px;s
}

.nav__button {
	float: right;
	text-align: center;
	background-color: #353535;
	margin-top: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	margin-right: 2px;
	padding-top: var(--nav-button-top-bottom-padding);
	padding-bottom: var(--nav-button-top-bottom-padding);
	padding-right: var(--nav-button-right-left-padding);
	padding-left: var(--nav-button-right-left-padding);
}

.nav__button--active
{	
	float: right;
	text-align: center;
	background-color: #205020;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: var(--nav-button-top-bottom-padding);
	padding-bottom: var(--nav-button-top-bottom-padding);
	padding-right: var(--nav-button-right-left-padding);
	padding-left: var(--nav-button-right-left-padding);
}

.nav__button--hover
{
	float: right;
	text-align: center;
	background-color: #444444;
	margin-top: 6px;
	margin-bottom: 0px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: var(--nav-button-top-bottom-padding);
	padding-bottom: var(--nav-button-top-bottom-padding);
	padding-right: var(--nav-button-right-left-padding);
	padding-left: var(--nav-button-right-left-padding);
}